@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600&display=swap');

first-color {
  background: #702283;
}

second-color {
  background: #962071;
}

third-color {
  background: #76b39d;
}

fourth-color {
  background: #fdb44b;
}
container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(45deg, #702283 1%, #76b39d 50%);
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}


#canvas {
  display: block;
  border: 2px solid black;
  margin: 10px;
  float: right;
}





body {
  background: #b2e99d;
  font-family: 'Darker Grotesque', sans-serif;
}
.container {
  margin: 100px auto;
  max-width: 600px;
}
.card {
  background: #fff;
  border-radius: 20px;
  filter: drop-shadow(8px 8px 0px #000);
  padding: 20px;
  border: 4px solid #000;
}
.card h1 {
  margin: 0;
  font-size: 42px;
  letter-spacing: 2px;
}
.card p {
  font-size: 18px;
}
.button-container {
  text-align: right;
}
input {
  margin: 0 5px;
  background: #fff;
  font-size: 17px;
  padding: 9px 14px;
  border-radius: 6px;
  border: 3px solid #000;
  box-shadow: 5px 5px 0px 0px #000;
  cursor: pointer;
}
select {
  margin: 0 5px;
  background: #fff;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 6px;
  border: 3px solid #000;
  box-shadow: 5px 5px 0px 0px #000;
  cursor: pointer;
}
button.green {
  background: green;
  color: #fff;
}

button:active{
  transform: translateY(4px);
   box-shadow: 1px 2px 0px 0px #000;
}